@page
@model ConsultarModel
@{
    ViewData["Title"] = "Consultar Pedidos";
}

<h3>Consultar Pedido</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">IdPedido</th>
      <th scope="col">Nit</th>
      <th scope="col">Cliente</th>
      <th scope="col">Direccion</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Fecha Entrega</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var p in Model.pedidos)
    {
        <tr>
            <th scope="row">@p.IdPedido</th>
            <td>@p.Nit</td>
            <td>@p.NombreCliente</td>
            <td>@p.DireccionDespacho</td>
            <td>@p.Email</td>
            <td>@p.Telefono</td>
            <td>@p.FechaEntrega</td>            
        </tr>
    }
  </tbody>
</table>
